.nav>li>a:hover, .nav>li>a:focus{
	background-color:yellow;
}

.navbar-nav>li>a.nopadtop{
	padding-top: 0px;
	color:black;
}

.navbar-nav>li>a.textcolor{
	color:white;
	padding-top:20px
}

hr.nomargintop{
	margin-top: 0px;
	width:90%;
	height:3px;
	background-color:black;
}
.navbar.nomarginbottom{
	margin-bottom: 0px;
	height:10%;
	position:relative;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.625;
}

h2.blgtitle a {
    color: #423E4F;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin: 0 0 16px;
    line-height: 140%;
}

h2.blgtitle>a:hover {
    /*color:#f2a561;*/
    /*color:#47c3e6;*/
    color: #2868AF
}

.col-lg-5.nopad {
    padding-left: 0px;
}

.col-lg-12.nopad {
    padding-left: 0px;
}

.blgdate {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0px;
    color: #e65d27;
}

.btn_subscribe {
    background-color: #E16237;
    border: 1px solid #E16237;
    color: #FFF;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    font-size: calc(6px + 0.8vw);
    border-radius: 1px;
    position: fixed;
    bottom: 1;
    right: 6em;
}

.mail_us {
    background-color: #E16237;
    border: 1px solid #E16237;
    color: #FFF;
    font-size: calc(6px + 0.8vw);
    border-radius: 1px;
}

.text_align_right {
    text-align: right;
}

.hide_subscribe {
    margin-top: 2px;
    color: #cebbf5;
    background-color: #313652;
    border: 1px solid #313652;
    border-radius: 1px;
    right: 2em;
}

.hide_subscribe:focus {
    outline: none;
}

.slider {
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.slider.closed {
    max-height: 0;
}

a.morelink {
    text-decoration: none;
    outline: none;
    color: #279FCD;
}

.ellipsis {
    overflow: hidden;
    position: relative;
    height: 50px;
    line-height: 1.625em;
}

.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: 50px;
}

.ellipsis>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026 [See More]";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 7em;
    margin-left: -7em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(15%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 15%, white);
}

.ellipsis a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 1000;
}

.ellipsis i,
.ellipsis:after {
    font-style: normal;
    color: #337AB7;
}

.ellipsis i:before {
    content: "[See More]";
}

.site-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 0;
    font-weight: 500;
}

.site-logo a {
    background-position: center !important;
    background-size: contain !important;
    float: left;
    display: block;
    min-height: 90px;
    text-indent: -9999px;
    margin-left: 40px;
    width: 100%;
}

.search-box {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

img[alt$="skola-img"] {
    width: 100%;
    border: 2px solid #EDEDED
}

.item-footer {
    background: pink;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    align-self: flex-end;
}
